<!-- src/app/components/main-layout/main-layout.component.html -->
<!-- <app-navbar></app-navbar> -->
<!-- Conditionally include the search bar here if required -->
<!-- <router-outlet></router-outlet>
<app-footer></app-footer> -->


<!-- In main-layout.component.html -->
<!-- <app-navbar></app-navbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<!-- src/app/components/main-layout/main-layout.component.html -->
<div class="d-flex flex-column min-vh-100">
    <app-navbar></app-navbar>
    <div class="flex-grow-1">
      <!-- Conditionally include the search bar here if required -->
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  

