/* Overall layout */
.stock-details {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* -------------Top section with symbol, company name, exchange, buy/sell buttons------------ */
.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-section .left-side {
    text-align: left;
}

.top-section .right-side {
    text-align: right;
    color: #333; 
}

/* Responsive*/
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .top-section .left-side, .top-section .right-side {
        text-align: center;
    }

    .center-section img {
        margin-bottom: 20px;
    }
}


.star-icon {
    cursor: pointer;
    font-size: 24px; 
    color: #bbb; 
    transition: color 0.3s ease;
  }
  
  .star-icon.active {
    color: #ff0; 
  }
  


/* ----------------Buy/Sell buttons----------------------- */
.buy-btn, .sell-btn {
    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.sell-btn {
    background-color: #28a745; 
}
.btn-buy {
  margin-right: 20px;
}

/* -------------------------Center section with logo and market status------------------- */
.center-section {
    text-align: center;
    margin-bottom: 20px;
}

.center-section img {
    max-width: 100px; 
    margin-bottom: 10px;

}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
/* --------------------------------------------  TABS ------------------------------------------- */

.mat-tab-group {
    display: flex;          
    justify-content: center; 
    border-bottom: 1px solid #007bff; 
}


.mat-tab-labels {
    display: flex;           
    justify-content: center;
}


.mat-tab-label {
    padding: 20px; 
    color: #007bff;
    flex: 1;       
    text-align: center; 
}

.mat-tab-label-active {
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
}


.mat-ink-bar {
    background-color: #007bff !important;
}

.mat-tab-body-content {
    padding: 10px; 
}


/* ------------------SUMMARY TAB--------------- */
.summary-content h3 {
    color: #333;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.summary-content {
    font-family: Arial, sans-serif;
    max-width: 600px;
    color: #555;
    margin: 0.5rem 0;
   
}


.summary-section {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}


.summary-section p {
    color: #333;
    font-size: 0.95rem; 
    margin: 0.5rem 0;
}

.summary-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.summary-details, .chart-container {
    
    flex: 1 1 0px;
}
.summary-details {
    flex: 1; 
    min-width: 250px; 
}

.chart-container {
    flex: 1; 
    max-width: 600px; 
}

/* About the Company section */

.company-info {
   
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-top: 2rem;
    align-items: center;
}

.company-info h3 {
    color: #000;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
}

.company-info p {
    color: #333;
    font-size: 0.95rem; 
    margin: 0.5rem 0;
    display: flexbox;
    align-items: center;
}


.company-info a {
    color: #1a0dab; 
    text-decoration: none;
}




.highcharts-chart {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    height: auto;
}


/* ---------------TOP NEWS TAB ---------------- */

  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    justify-content: center;
  }
  
  .news-card {
    display: flex;
    align-items: center;
    width: calc(50% - 16px);
    border: 1px solid #dee2e6; 
    border-radius: 4px;
    overflow: hidden; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .news-card img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    padding:10px;
    border-radius: 1rem;
   
  }

  .news-card h3 {
    font-size: 1rem;
    margin:0;
    text-align: center;
    flex-grow: 1; 
  }
  
  .news-card mat-card-content {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .news-card {
      width: calc(100% - 16px); 
      flex-direction: column; 
    }
    
    .news-card img {
      width: auto;
      height: auto;
      max-width: 100%; 
      max-height: 200px; 
    }
  }


.positive {
    color: green;
}

.negative {
    color: red;
}

.insider-sentiments {
    font-family: Arial, sans-serif;
    max-width: 400px; 
    margin: auto;
    border: 2px solid black;
  }
  
  .insider-sentiments h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  
  .company-name {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
  }
  
  .sentiment-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    text-align: center;
    padding: 5px 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }
  
  .sentiment-header div:first-child,
  .sentiment-row div:first-child {
    text-align: left;
  }
  
  .sentiment-row {
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    text-align: center;
    padding: 5px 0;
  }
  
  .sentiment-row div {
    padding: 0 10px; 
  }

  .sentiment-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  

.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
  }
  

  .chart {
    flex: 1; 
    min-width: 0; 
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .charts-container {
      flex-direction: column;
    }
  }


  


