
<!-- Conditionally display the entire details section only if stockProfile and stockQuote data is available -->
<div *ngIf="stockProfile && stockQuote" class="stock-details">

    <!-- Top section with symbol, name, exchange, buy/sell buttons -->
    <div class="top-section">
      <!-- Left side for stock symbol, name, exchange -->
      <div class="left-side">
        <h2>{{ stockProfile.ticker }}</h2>
        <i class="star-icon" [ngClass]="{'active': isFavorite}" (click)="toggleWatchlist(stockProfile.ticker)">&#9733;</i>
        <p>{{ stockProfile.name }}</p>
        <p>{{ stockProfile.exchange }}</p>
        <button class="buy-btn" (click)="openBuyModal()">Buy</button>
        <!-- Sell button shows only if inPortfolio is true -->
        <button *ngIf="inPortfolio" class="sell-btn">Sell</button>
      </div>
      
      <!-- Right side for stock quote details -->
      <div class="right-side">
        <p>{{ stockQuote.c }}</p>
        <p [ngClass]="stockQuote.d > 0 ? 'positive' : 'negative'">
          {{ stockQuote.d }} ({{ stockQuote.dp }}%)
        </p>
        <p>{{ stockQuote.t | date:'long' }}</p>
      </div>
    </div>
    
    <!-- Center section with logo and market status indication -->
    <div class="center-section">
      <img [src]="stockProfile.logo" alt="{{ stockProfile.name }} logo">
      <p>Market is {{ marketOpen ? 'Open' : 'Closed' }}</p>
    </div>

    <mat-tab-group>

        <mat-tab label="Summary">
            <div class="summary-content">
                <!-- Stock Quote Information -->
                <div class ="summary-section">
                    <p>High Price: {{ stockQuote.h }}</p>
                    <p>Low Price: {{ stockQuote.l }}</p>
                    <p>Open Price: {{ stockQuote.o }}</p>
                    <p>Prev. Price: {{ stockQuote.pc }}</p>
                </div>
                <!-- Company Basic Information -->
                <div class="company-info">
                    <h3>About the Company</h3>
                    <p>IPO Date: {{ stockProfile.ipo | date }}</p>
                    <p>Industry: {{ stockProfile.finnhubIndustry }}</p>
                    <p>Webpage: {{ stockProfile.weburl }}</p>
                    <!-- <p>Company peers: <br> {{ companyPeers.response }}</p> -->
                </div>
            </div>

            <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="historicalChartOptions"

            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </mat-tab>

    
        <mat-tab label="Top News">
          <div class="news-container">
            <!-- Iterate over topNews to create cards for each article -->
            <div *ngFor="let newsArticle of topNews" class="news-card" (click)="openNewsModal(newsArticle)">
              <img [src]="newsArticle.image" alt="news image">
              
              <div>
                <h3>{{ newsArticle.headline }}</h3>
              </div>
            </div>
          </div>
        </mat-tab>
        

        <mat-tab label="Charts">
          <!-- <div id="container" #chartContainer style="height: 400px; min-width: 310px"></div> -->
            <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="smaChartOptions"

            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
          
        </mat-tab>

        <mat-tab label="Insights">

         
          <!-- Insights tab content goes here -->
          <div >
            <h3>Insider Sentiment Data</h3>
            <table>
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Month</th>
                  <th>Change</th>
                  <th>MSPR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sentiment of insiderSentimentData.sentiment.data">
                  <td>{{ sentiment.year }}</td>
                  <td>{{ sentiment.month }}</td>
                  <td>{{ sentiment.change }}</td>
                  <td>{{ sentiment.mspr }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="recommendationChartOptions"

            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>

          <highcharts-chart 
            [Highcharts]="Highcharts"
            [options]="earningsChartOptions"

            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>

        </mat-tab>

    </mat-tab-group>
