
<!-- Conditionally display the entire details section only if stockProfile and stockQuote data is available -->
<div *ngIf="stockProfile && stockQuote" class="stock-details">

    <!-- Top section with symbol, name, exchange, buy/sell buttons -->
    <div class="top-section">
      <!-- Left side for stock symbol, name, exchange -->
      <div class="left-side">
        <h2>{{ stockProfile.ticker }}</h2>
        <p>{{ stockProfile.name }}</p>
        <p>{{ stockProfile.exchange }}</p>
        <button class="buy-btn">Buy</button>
        <!-- Sell button shows only if inPortfolio is true -->
        <button *ngIf="inPortfolio" class="sell-btn">Sell</button>
      </div>
      
      <!-- Right side for stock quote details -->
      <div class="right-side">
        <p>Last price: {{ stockQuote.c }}</p>
        <p [ngClass]="stockQuote.d > 0 ? 'positive' : 'negative'">
          Change: {{ stockQuote.d }} ({{ stockQuote.dp }}%)
        </p>
        <p>Date/Time: {{ stockQuote.t | date:'short' }}</p>
      </div>
    </div>
    
    <!-- Center section with logo and market status indication -->
    <div class="center-section">
      <img [src]="stockProfile.logo" alt="{{ stockProfile.name }} logo">
      <p>Market is {{ marketOpen ? 'Open' : 'Closed' }}</p>
    </div>

    <mat-tab-group>

        <mat-tab label="Summary">
            <div class="summary-content">
                <!-- Stock Quote Information -->
                <div class ="summary-section">
                    <p>High Price: {{ stockQuote.h }}</p>
                    <p>Low Price: {{ stockQuote.l }}</p>
                    <p>Open Price: {{ stockQuote.o }}</p>
                    <p>Prev. Price: {{ stockQuote.pc }}</p>
                </div>
                <!-- Company Basic Information -->
                <div class="company-info">
                    <h3>About the Company</h3>
                    <p>IPO Date: {{ stockProfile.ipo | date }}</p>
                    <p>Industry: {{ stockProfile.finnhubIndustry }}</p>
                    <p>Webpage: {{ stockProfile.weburl }}</p>
                    <!-- <p>Company peers: <br> {{ companyPeers.response }}</p> -->
                </div>
            </div>

        </mat-tab>

        <mat-tab label="Top News">
          <!-- Top News tab content goes here -->
        </mat-tab>

        <mat-tab label="Charts">
          <!-- Charts tab content goes here -->
        </mat-tab>

        <mat-tab label="Insights">
          <!-- Insights tab content goes here -->
        </mat-tab>

    </mat-tab-group>
