/* Overall layout */
.stock-details {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* -------------Top section with symbol, company name, exchange, buy/sell buttons------------ */
.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-section .left-side {
    text-align: left;
}

.top-section .right-side {
    text-align: right;
    color: #333; /* Change as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .top-section .left-side, .top-section .right-side {
        text-align: center;
    }

    .center-section img {
        margin-bottom: 20px;
    }
}

/* search-details.component.css */
.star-icon {
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
    color: #bbb; /* Default color for non-favorite */
    transition: color 0.3s ease;
  }
  
  .star-icon.active {
    color: #ff0; /* Yellow color for favorite */
  }
  


/* ----------------Buy/Sell buttons----------------------- */
.buy-btn, .sell-btn {
    background-color: #28a745; /* Bootstrap primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.sell-btn {
    background-color: #28a745; /* Bootstrap success color */
}

/* -------------------------Center section with logo and market status------------------- */
.center-section {
    text-align: center;
    margin-bottom: 20px;
}

.center-section img {
    max-width: 100px; /* Adjust as needed */
    margin-bottom: 10px;

}


/* --------------------------------------------  TABS ------------------------------------------- */
/* Center the tab labels within the tab group */
.mat-tab-group {
    display: flex;           /* Enables flexbox */
    justify-content: center; /* Centers flex items on the main axis (horizontally) */
    border-bottom: 1px solid #007bff; /* Same as your nav-tabs */
}

/* Ensure the tab labels take up equal space and are centered */
.mat-tab-labels {
    display: flex;           /* Enables flexbox */
    justify-content: center; /* Centers flex items on the main axis (horizontally) */
}

/* Individual tab label styling */
.mat-tab-label {
    padding: 20px; /* Adjust padding to match your design */
    color: #007bff; /* Set the default color to blue */
    flex: 1;        /* Distribute space evenly */
    text-align: center; /* Center the text inside the tab label */
}

.mat-tab-label-active {
    color: #007bff; /* Set the active color to blue */
    border-bottom: 2px solid #007bff; /* Blue underline for active tab */
}

/* Override ink bar (the moving underline) color to blue */
.mat-ink-bar {
    background-color: #007bff !important;
}

/* Adjust mat-tab-body content padding if needed */
.mat-tab-body-content {
    padding: 10px; /* Adjust padding to match your design */
}


/* ------------------SUMMARY TAB--------------- */
.summary-content h3 {
    color: #333;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.summary-content {
    font-family: Arial, sans-serif;
    max-width: 600px;
    color: #555;
    margin: 0.5rem 0;
    /* margin: auto; */
}

/* Section containing High Price, Low Price, etc. */
.summary-section {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

/* Styling for each piece of information in the summary section */
.summary-section p {
    color: #333;
    font-size: 0.95rem; 
    margin: 0.5rem 0;
}

.summary-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.summary-details, .chart-container {
    /* If you want both the summary and the chart to have equal widths */
    flex: 1 1 0px;
}
.summary-details {
    flex: 1; 
    min-width: 250px; 
}

.chart-container {
    flex: 1; 
    max-width: 600px; 
}

/* About the Company section */

.company-info {
    /* To center the company info between the stock details and the chart */
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-top: 2rem;
    align-items: center;
}

.company-info h3 {
    color: #000;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
}

.company-info p {
    color: #333;
    font-size: 0.95rem; /* Adjust as needed */
    margin: 0.5rem 0;
    display: flexbox;
    align-items: center;
}

/* Style for webpage link */
.company-info a {
    color: #1a0dab; /* Google blue link color */
    text-decoration: none;
}

/* Additional styling can be added for hover effects, etc. */

/* Chart container styling, if necessary */
.highcharts-chart {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    height: auto;
}
/* Styling for each piece of information in the summary section */

/* ---------------TOP NEWS TAB ---------------- */

  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    justify-content: center;
  }
  
  .news-card {
    display: flex;
    align-items: center;
    width: calc(50% - 16px); /* Two cards per row with gap */
    border: 1px solid #dee2e6; /* Bootstrap's light grey border */
    border-radius: 4px; /* Slight rounding on card edges */
    overflow: hidden; /* Ensure contents don't overflow */
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  .news-card img {
    width: 100px; /* Image takes up half the card */
    height: 100px;
    object-fit: cover;/* Ensure image covers the div */
    padding:10px;
    border-radius: 1rem;
    /* margin-right : 10px; */
  }

  .news-card h3 {
    font-size: 1rem;
    margin:0;
    text-align: center;
    flex-grow: 1; 
  }
  
  .news-card mat-card-content {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .news-card {
      width: calc(100% - 16px); 
      flex-direction: column; 
    }
    
    .news-card img {
      width: auto;
      height: auto;
      max-width: 100%; 
      max-height: 200px; 
    }
  }


  
  
  
  

/* Price and percentage changes */
.positive {
    color: green;
}

.negative {
    color: red;
}



/* insights tab */
/* Container styling */

   
.insider-sentiments {
    font-family: Arial, sans-serif;
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    border: 2px solid black;
  }
  
  .insider-sentiments h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  
  .company-name {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
  }
  
  .sentiment-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    text-align: center;
    padding: 5px 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }
  
  .sentiment-header div:first-child,
  .sentiment-row div:first-child {
    text-align: left;
  }
  
  .sentiment-row {
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* 3 equal columns */
    text-align: center;
    padding: 5px 0;
  }
  
  .sentiment-row div {
    padding: 0 10px; /* Add padding to each cell */
  }
  /* Special styling for rows to add borders */
  .sentiment-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  

.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the space between the charts */
  }
  
  /* Individual chart styling */
  .chart {
    flex: 1; /* Each chart will take up equal space in the container */
    min-width: 0; /* Allows the flex items to shrink below their content size if necessary */
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .charts-container {
      flex-direction: column;
    }
  }


  


