
.navbar .navbar-brand{
    color:white;
}
.navbar .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: white; 
    background-color: transparent; 
}

.navbar.bg-light {
    background-color: #282cb4 !important;
}

.navbar .nav-link.active {
    color: white;
    border: 1.75px solid white; 
    border-radius: 1rem;
    padding: 0.375rem 0.75rem; 
}

.navbar-brand {
    padding-left: 1rem; 
}

.navbar-nav .nav-link {
    margin-right: 1rem; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border: 2px solid rgba(255, 255, 255, 0.5); 
}
.navbar-toggler:active {
    border-width: 3px; 
}
.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link.active {
    color: white !important;
    border: 1.75px solid white;
    border-radius: 1rem;
    padding: 0.375rem 0.75rem;
    background-color: transparent;
}
