
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">Stock Search</a>

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
                [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse"  [class.show] = "!isNavbarCollapsed" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  [routerLink]="['/', 'search', this.service.stateData.ticker? this.service.stateData.ticker: 'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/watchlist">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>
         
        </ul>
      </div>

    </div>
  </nav>

