body {
    background-image: url('/static/images/back.svg');
    background-repeat: no-repeat;
    background-size: 1600px 250px;
    background-attachment: fixed; 
    font-family: sans-serif;
}

#stock-search {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px; 
    
    /* not working */
}

#page-container {
    text-align: center;
    padding-top: 50px;
    /* position: relative; */
    width: 500px;
    margin: 0 auto;
}

#search-form {
    position: relative;
    display: inline-block;
    width: 500px;
}

#search-form input[type="text"] {
    padding: 10px;
    padding-left: 40px;
    /* Make room for search icon */
    padding-right: 40px;
    /* Make room for clear icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 80px);
    /* Adjust width accounting for buttons */
}


.icon-button {
    position: absolute;
    top: 1px;
    /* Align with the input field */
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    /* Width of the icon area */
    height: calc(100% - 2px);
    /* Height matches input field */
}

#search-button {
    left: 1px;
    /* Positioning the search button */
    z-index: 10;
}

#clear-button {
    right: 1px;
    /* Positioning the clear button */
}

.icon-button svg {
    width: 20px;
    /* Set the width of the SVG */
    height: 20px;
    /* Set the height of the SVG */
    fill: #000;
    /* This sets the color of the SVG */
    opacity: 0.5;
    /* Adjust the opacity as needed */
}

#not-found-error {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: black;
    border: 1px solid #ccc;
    /* Optional: if you want a border around the message */
    padding: 10px;
    margin-top: 20px;
    /* Space above the error message */
    display: inline-block;
    /* Or block, depending on how you want it displayed */
    border-radius: 4px;
    /* Optional: if you want rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: if you want a shadow for some depth */
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    /* background-color: #f1f1f1; */
    margin: 170px 120px 0px 80px;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

/* .tab button.active {
    background-color: #ccc;
} */


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Style for when a tab content is displayed */

.tabcontent.show {
    display: block;
}

/* Initially hide the #page-container-2 */
#page-container-2.inactive {
    display: none; /* Hide the container */
}

/* When active, show the #page-container-2 */
#page-container-2.active {
    display: block; /* Show the container */
}

/* 
.recommendation-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.recommendation-item {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;

}


.strong-sell { background-color: #f44336; }
.sell { background-color: #ff9800; }
.hold { background-color: #ffeb3b; }
.buy { background-color: #4caf50; }
.strong-buy { background-color: #2196f3; }

.recommendation-labels {
    display: flex;
    justify-content: center;
}

.label {
    margin: 0 5px;

} */


.recommendation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.recommendation-item {
    margin: 0 10px; /* Adjust spacing between items */
    padding: 10px; /* Adjust the padding to increase the size of the boxes */
    border-radius: 5px;
    width: 40px; /* Set a fixed width for the boxes */
    text-align: center; /* Center the text horizontally */
    color: #fff; /* Set text color to white for better contrast */
    font-weight: bold; /* Make the text bold */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; /* Adjust font size as needed */
}

.strong-sell { background-color: #d9534f; }
.sell { background-color: #f0ad4e; }
.hold { background-color: #5bc0de; }
.buy { background-color: #5cb85c; }
.strong-buy { background-color: #337ab7; }

.recommendation-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; /* Adjust font size as needed */
}

.label {
    margin: 0 10px; /* Adjust spacing between labels */
    display: inline-block; /* Align the labels properly */
}






