<div class="modal-header">
  <h5 class="modal-title">{{ stock.ticker }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<form (ngSubmit)="onSubmit()">
  <div class="modal-body">
    Current Price: {{ stock.currentPrice | currency:'USD':'symbol' }}
    <br>
    Money in Wallet: {{ userWallet | currency:'USD':'symbol' }}
    <br>
    <div class="row">
      <label for="quantity" class="col-form-label col-4 col-md-3">Quantity:</label>
      <div class="col-8 col-md-9">
        <input type="number" id="quantity" class="form-control" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange($event)" min="0" name="quantity">
      </div>
    </div>
    <small *ngIf="quantityChanged && totalPrice > userWallet" class="text-danger">
      Not enough money in wallet.
    </small>
  </div>
  <div class="modal-footer justify-content-between">
    <p>Total: {{ totalPrice | currency:'USD':'symbol' }}</p>
    <button type="submit" class="btn btn-success" [disabled]="!canBuy()">Buy</button>
  </div>
</form>
