<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
</head>
<body>
  <div class="wrapper">
    <!-- NAV BAR -->
    
    <!-- STOCK SEARCH  -->
    <div class="container my-4">
        <h1 class="text-center mb-3">STOCK SEARCH</h1>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter stock ticker symbol" matInput aria-label="Stock ticker" [formControl]="control" [matAutocomplete]="auto" (keyup.enter)="onSelect()">

              <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect()">
                <mat-option *ngIf="acLoading"><mat-spinner diameter="30"></mat-spinner></mat-option>
                <div *ngIf="autocompleteResults">
                  <mat-option *ngFor="let suggestion of autocompleteResults" [value]="suggestion.symbol"> <a class="text-black text-decoration-none" >{{suggestion.symbol}} | {{suggestion.description}}</a> </mat-option>
                </div>
              </mat-autocomplete> -->

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect()">
                <!-- Spinner shows when acLoading is true -->
                <mat-option *ngIf="acLoading" class="spinner-option">
                  <mat-spinner diameter="30"></mat-spinner>
                </mat-option>
                
                <!-- Autocomplete results are shown when acLoading is false and autocompleteResults have data -->
                <ng-container *ngIf="!acLoading && autocompleteResults">
                  <mat-option *ngFor="let suggestion of autocompleteResults" [value]="suggestion.symbol">
                    <span class="text-black text-decoration-none">
                      {{ suggestion.symbol }} | {{ suggestion.description }}
                    </span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              
            

              <button class="btn btn-outline-primary" type="button" id="button-search" (click)="onSearch()">
                <i class="bi bi-search"></i>
              </button>
              <button class="btn btn-outline-primary" type="button" id="button-clear" (click)="onClear()">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger alert-dismissible fade show mx-auto col-10 text-center" role="alert" *ngIf="tickerNotFound">
        No data found. Please enter a valid Ticker.
      </div>


      <div class="alert alert-danger alert-dismissible fade show mx-auto col-10 text-center" role="alert" *ngIf="emptyTicker">
        Enter a valid Ticker.
      </div>

      
      <div *ngIf="searchResults && !tickerNotFound">
        <app-search-details [searchQuery]="searchQuery"></app-search-details>
      </div>
    

    <!-- the footer -->
   
      
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    
  </div>      
</body>
</html>
