<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
</head>
<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <a class="navbar-brand" href="#">Stock Search</a>

          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->

          <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
                    [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse"  [class.show] = "!isNavbarCollapsed" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Watchlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
      


    <!-- STOCK SEARCH  -->
    <div class="container my-4">
        <h1 class="text-center mb-3">STOCK SEARCH</h1>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter stock ticker symbol" aria-label="Stock ticker" [(ngModel)]="searchQuery">
              <button class="btn btn-outline-primary" type="button" id="button-search" (click)="onSearch()">
                <i class="bi bi-search"></i>
              </button>
              <button class="btn btn-outline-primary" type="button" id="button-clear" (click)="onClear()">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    


    <!-- the footer -->
    <footer class="footer">
        <b>Powered by </b> <a href="https://finnhub.io" target="_blank">Finnhub.io</a>
      </footer>

      
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
      
</body>
</html>