/* Overall layout adjustments */
:host {
  display: block;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the watchlist container */
.watchlist-container {
  width: 50%; /* Adjust width as needed */
  margin-top: 20px; /* Space from the top */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Style for the watchlist header */
h2 {
  margin-bottom: 20px; /* Space below the header */
  text-align: left;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px;
  border-radius: 4px; /* Rounded corners for list items */
  position: relative;
}

.ticker-and-name {
  text-align: left;
}

.price-details {
  text-align: right;
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed for exact positioning */
  left: 10px; /* Adjust as needed for exact positioning */
  cursor: pointer;
  font-size: 1.2em; /* Adjust size as needed */
  /* Optional: add more styling to make it visually appealing */
}

/* Alert style */
.watchlist-empty-alert {
  background-color: #fff3cd; /* Light yellow background */
  border: 1px solid #ffeeba; /* Light yellow border */
  color: #856404; /* Dark yellow text */
  padding: 10px;/* Spacing inside the alert */
  margin: 10px 0; /* Space above and below the alert */
  border-radius: 4px; /* Rounded borders */
  width: 100%; /* Full width of the parent container */
  box-sizing: border-box;
}

.loading-indicator {
  text-align: center;
  padding: 20px;
}
/* Add the following styles for positive, negative, and neutral changes */
.positive {
  color: green;
}

.negative {
  color: red;
}

.neutral {
  color: black;
}

.close-button {
  float: right;
  cursor: pointer;
}

.ticker {
  margin-top: 20px; /* Adjust as needed for exact positioning */
  font-weight: bold;
  cursor: pointer;
}

.price-arrow {
  /* Styles for the arrow */
  font-size: 0.8em; /* Smaller than the text to not overpower it */
  margin-right: 5px; /* Space between arrow and text */
}

.stock-info {
  display: flex;
}