<div class="watchlist-container">
  <h2>My Watchlist</h2>
  <div *ngIf="!loading">
    <div *ngIf="watchlist.length > 0; else noWatchlist">
      <ul>
        <li *ngFor="let item of watchlist; let i = index" 
            [ngClass]="{'positive': item.change > 0, 'negative': item.change < 0, 'neutral': item.change === 0}" 
            (click)="navigateToDetails(item.ticker)">
          <span class="ticker">{{ item.ticker }}</span> - {{ item.name }}
          <span class="close-button" (click)="removeFromWatchlist(item.ticker, i)">&times;</span>
          <div>
            Current Price: {{ item.c }}
            Change: {{ item.d }}
            Change Percentage: {{ item.dp }}%
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noWatchlist>
      <div class="watchlist-empty-alert">
        <p>Currently you don't have any stock in your watchlist.</p>
      </div>
    </ng-template>
  </div>
  <div *ngIf="loading" class="loading-indicator">
    <!-- You can add spinner/loader component here -->
    Loading...
  </div>
</div>
